*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin:0 15px  ;
}
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.form-box.active {
    display: block;
}
.login-container h2 {
    font-size: 34px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 12px; 
    background: #eee;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px; 
    background: #7494ec; 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
    font-size: 16px;
    transition: 0.5s; 
    margin-bottom: 20px;
    font-weight: 500;
}
button:hover {
    background-color: #6884d3;
}

.error {
    color: #D9534F;
    background-color: #F2DEDE; 
    border: 1px solid #EBCCD1;
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 4px;
}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
p a {
    text-decoration: none;
    color: #7494ec;
}
p a:hover {
    text-decoration: underline;
}
.error-message {
    color: #D9534F;
    background: #f8d7da;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
}