* { box-sizing: border-box; }

        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
        }

        .login-container {
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
        }

        .form-box {
            background: #fff;
            padding: 25px;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .table-wrapper {
            overflow-x: auto;
        }

        table {
            width: 100%;
            min-width: 900px;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
            white-space: nowrap;
        }

        th {
            background: #7494ec;
            color: white;
        }

        .btn {
            padding: 6px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-size: 13px;
        }

        .edit-btn {
            background: #28a745;
            color: white;
        }

        .delete-btn {
            background: #dc3545;
            color: white;
        }
        .qr-btn {
            background: #4CAF50;
            color: #fff;
            padding: 5px 8px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 13px;
            margin-left: 3px;
        }
        .actions .btn {
    padding: 6px 10px;
    margin: 2px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
        }